html,body, .container {
	background-color: #d3d7cf;
}

.login-wrapper {
	border: 2px solid black;
}

.seperator {
	border: 1px solid black;
}

.button-overwrite {
	background-color: maroon;
	text-align: center;
	margin: 0 auto;
}

#sign-up-header {
	display: block;;
	text-align: center;
	font-size: 27px;
}

.navbar-settings {
	background-color: maroon;
	color: white;
}

.navbar-nav > li > a:hover {
	background-color: grey;
	color: maroon;
}

.dropdown-menu {
	background-color: grey;
}

.dropdown-menu > li > a:hover {
	background-color: grey;
	color: maroon;
}

.dropdown > a:hover {
	background-color: grey;
	color: maroon;
}

.nav li a {
	color: white;
}

.tournament_table {
	border: 2px solid black;
}

.tournament_table td {
	border: 2px solid black;
}

.tournament_table th {
	border: 2px solid black;
}

.tournament_table tr td{
	display: table-block;
	width: 120px;
}

.tournament_table_inside {
	padding: 10px;
	margin: 10px;
}

.tournament_table_inside td {
	white-space: nowrap;
	padding: 10px;
}

.btn-full {
	display: block;
	width: 100%;
	height: 100%;
}

.active {
	background-color: grey;
}

.center_cell {
	text-align: center;
}

.green {
	color : green;
}

.red {
	color : red;
}

.orange {
	color : orange;
}

.promote {
	width: 100%;
}

.highlightRow {
	font-weight:bold;
}

.tournament_info {
	border: 2px solid black;
}

.tournament_info tr {
	border: 2px solid black;
}

.tournament_info td {
	border: 2px solid black;
}

.tournament_info tr th {
	display: table-block;
	width: 50%;
}

.tournament_info tr td {
	display: table-block;
	width: 50%;
}

#overlay {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0.94;
}

.invite_users_form {
	position: fixed;
	top : 35%;
	left: 35%;
	z-index: 3;
	padding: 5%;
	border: 2px solid black;
}

.invite_users_form div {
	z-index: 4;
}

.multiple_invite {
	display: none;
}

#page_3 {
	display: none;
  	visibility: hidden;
}

.tournament_matches {
	width: 100%;
}

.input-label {
	font-weight: 700;
}

.no-click {
    pointer-events: none;
}